#
# Example configuration
#

# general
verbose: false

# output path
output_dir: /path/to/output_dir

#
# input files
#

# genome sequence and annotations
input_gff: /ref/annotations/TriTrypDB-29_LmajorFriedlin.gff
input_fasta: /ref/genomes/TriTrypDB-29_LmajorFriedlin_Genome.fasta
input_cds_fasta: /ref/genomes/TriTrypDB-29_LmajorFriedlin_AnnotatedCDSs.fasta

# count table and module assignments
count_table: /path/to/lmajor_raw_counts.csv
module_assignments: /path/to/lmajor_cluster_assignments.csv

# utr statistics (length, gc- and ct-richness)
5utr_stats: /path/to/utr5_stats.csv
3utr_stats: /path/to/utr3_stats.csv

# polypyrimidine, intergenic and inter-cds stats
intergenic_stats: /path/to/intercds_regions.csv
polypyrimidine_stats: /path/to/polypyrimidine_tracts.csv

#
# gene clusters (optional)
# 
# To use a pre-existing clustering, provide a file with columns "gene" and
# "cluster".
#
# If no such file is specified, hierarchical clustering will performed
# on-the-fly.
#
gene_clustering: ''

#
# Software settings
#
extreme_dir: /path/to/extreme
extreme_num_neg_seqs: 250,
extreme_half_length:  9,
extreme_min_gap_size: 60,
extreme_max_gap_size: 69,
extreme_min_sites   : 3,
extreme_clustering_threshold: 0.3

